body {
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Ram';

    
    flex-direction: column;

    height: 100vh;
}

@font-face {
    font-family: 'Ram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-display: swap;

}


header {
    display: flex;
    padding: 16px;
    /*background-color: yellow;*/
    /*color: black;*/
    justify-content: flex-end;
}

footer{
    display: flex;
    padding: 16px;
    /*background-color: yellow;*/
    /*color: white*/
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 64px;
    margin: 10px;
}

.menu-item {
    font-size: 32px;
    margin: 10px;
}
.select {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}